@page
@model HairdresserAppointmentClient.Pages.TreatmentsModel
@{
}


<div class="container mt-1">
        <div class="card shadow border-0 rounded-4 mb-4">

            <div class="card-header bg-dark text-white">
                <h5 class="mb-0">Add Treatment</h5>
            </div>
            <div class="card-body">
            <form method="post" asp-page-handler="CreateTreatment">
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="Treatment.Name"class="form-label fw-bold"></label>
                            <input asp-for="Treatment.Name"class="form-control"placeholder="Enter name..."required />
                        </div>

                        <div class="col-md-4">
                            <label asp-for="Treatment.DurationInMinutes" class="form-label fw-bold"></label>
                            <input asp-for="Treatment.DurationInMinutes" class="form-control"required />
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Treatment.Price" class="form-label fw-bold"> </label>
                            <input asp-for="Treatment.Price" type="number" class="form-control" required />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark mt-4 small">
                        Save
                    </button>

                </form>

            </div>

        </div>





    <div class="card shadow border-0 rounded-4">

        <div class="card-header bg-dark text-white">
            <h3 class="mb-0">Treatments</h3>
        </div>

        <div class="card-body p-0">
            <table class="table table-hover align-middle mb-0">
                <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Price</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var treatment in Model.Treatments)
                    {
                        <tr data-bs-toggle="collapse" data-bs-target="#treatment-@treatment.Id" aria-expanded="false">
                            <td class="fw-semibold">@treatment.Name</td>
                            <td>@treatment.DurationInMinutes</td>
                            <td>@treatment.Price kr</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="p-0">
                                <div id="treatment-@treatment.Id" class="collapse" aria-expanded="false">
                                    <div class="bg-dark p-4 text-white border-top border-3 border-warning">
                                        <h5 class="mb-4">Edit Treatment</h5>

                                        <form method="post" asp-page-handler="UpdateTreatment">

                                            <input type="hidden" name="Treatment.Id" value="@treatment.Id" />
                                            <div class="row">
                                                <div class="col-md-4">
													<label class="form-label">Name</label>
                                                    <input class="form-control text-muted" name="Treatment.Name" value="@treatment.Name" placeholder="@treatment.Name" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="form-label">Duration</label>
                                                    <input class="form-control text-muted" name="Treatment.DurationInMinutes" value="@treatment.DurationInMinutes" placeholder="@treatment.DurationInMinutes" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="form-label">Price</label>
                                                    <input class="form-control text-muted" name="Treatment.price" value="@treatment.Price" placeholder="@treatment.Price" />
                                                </div>
                                                
                                            </div>
                                            <div class="mt-4 d-flex gap-2">
                                                <button class="btn btn-outline-warning btn-sm fw-bold" type="submit">Update</button>
                                            </div>
                                         </form>
                                        
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>
